<%- include('../partials/header') %>

<h1>All Reservations</h1>
<ul>
  <% reservation.forEach(reservation => { %>
    <a href="/reservations/<%= reservation._id %>">
    <li>
      <%= reservation.name %> - Guests: <%= reservation.numberOfGuests %>, Date: <%= new Date(reservation.date).toLocaleDateString() %>, Time: <%= reservation.time %>
    </li>
    </a>
    <% }) %>
</ul>
<%- include('../partials/footer') %>